
@{
    ViewBag.Title = "Education";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


    <br />
    <a href="/home/info">Information</a>
    <br />
    <a href="/home/personal">Personal Info</a>
    <br />
    <a href="/home/project">Projects</a>
    <br />
    <a href="/home/reference">References</a>
    <br />

    <h2>Education Information</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Degree</th>
                <th>Year</th>
                <th>Institution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BSc. CSE</td>
                <td>2024</td>
                <td>American International University-Bangladesh</td>
            </tr>
            <tr>
                <td>HSC</td>
                <td>2019</td>
                <td>Mostafa Hakim Degree College</td>
            </tr>
            <tr>
                <td>SSC</td>
                <td>2017</td>
                <td>Bangladesh Bank Colony High School</td>
            </tr>
        </tbody>
    </table>

</body>
</html>

