
@{
    ViewBag.Title = "Project";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>

    <br />
    <a href="/home/education">Education</a>
    <br />
    <a href="/home/personal">Personal Info</a>
    <br />
    <a href="/home/info">Information</a>
    <br />
    <a href="/home/reference">References</a>
    <br />

    <h2>Projects</h2>

    <ul>
        <li>Vokhtar Odhikar</li>
        <p>It's a goverment app build using Nest.js, Next.js, Tailwind CSS, JavaScript, PostgreSQL etc.</p>
        <li>Software Development Management System</li>
        <p>A web application to control the flow of development of a software using JavaScript, PHP, Html, CSS</p>
        <li>Hostel Managemt Application</li>
        <p>It was built using C#</p>
    </ul>



</body>
</html>

