
@{
    ViewBag.Title = "Reference";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References</title>
</head>
<body>

    <br />
    <a href="/home/education">Education</a>
    <br />
    <a href="/home/personal">Personal Info</a>
    <br />
    <a href="/home/project">Projects</a>
    <br />
    <a href="/home/info">Information</a>
    <br />

    <h2>References</h2>

    <ol>
        <li>
            <strong>Name:</strong> Al Sakib E Elahi<br>
            <strong>Email:</strong> sakibeelahi@gmail.com
        </li>
        <br/>
        <li>
            <strong>Name:</strong> Rasel Mahmud<br>
            <strong>Email:</strong> rasel@gmail.com
        </li>
    </ol>

</body>
</html>

