
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<form method="post" action="">
    <input type="number" value="" name="id" />
    <input type="submit" value="Sign In" class="btn btn-success" />
</form>

