﻿
@{
    ViewBag.Title = "List2";

}

<h2>Student List</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Cgpa</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Name</td>
            <td>@user.Address</td>
            <td>@user.Cgpa</td>
        </tr>
    }
</table>